/* src/components/Navbar.css */
.custom-navbar {
  background-color: #2c3e50 !important; /* Set the background color */
}

.custom-navbar .navbar-brand {
  color: white !important; /* Set the text color for the brand */
}

.custom-navbar .nav-link {
  color: white !important; /* Set the text color for nav links */
  margin: 1rem;
}

.custom-navbar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Change background color for active link */
  border-radius: 0.25rem; /* Optional: add border radius to active link */
}

/* Optional: Add hover effect */
.custom-navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.custom-navbar{
  height: 60px; 
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box; 
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px); 
  
}

